.latest-news{
    padding:100px 10%;
    background:#ffffff;
}

.latest-news h5{
    text-align:center;
    color:#f4b400;
    letter-spacing:2px;
    margin-bottom:10px;
}

.latest-news h2::after{
    content:"";
    display:block;
    width:80px;
    height:4px;
    background:#f4b400;
    margin:18px auto 0;
    border-radius:20px;
}

.news-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(320px,1fr));
    gap:30px;
}

.news-card{
    transition:0.4s ease;
}

.news-card:hover{
    transform:translateY(-12px);
    box-shadow:0 25px 45px rgba(0,0,0,.15);
}

.news-card img{
    width:100%;
    height:220px;
    object-fit:cover;
}

.news-content{
    padding:25px;
}

.date{
    color:#f4b400;
    font-weight:600;
    font-size:14px;
}

.news-content h3{
    margin:15px 0;
    color:#0d1b2a;
}

.news-content p{
    color:#666;
    line-height:1.7;
    margin-bottom:20px;
}

.news-content a{
    color:#0d1b2a;
    font-weight:600;
    text-decoration:none;
    transition:.3s;
}

.news-content a:hover{
    color:#f4b400;
}